@charset "UTF-8";

*{ margin: 0; padding: 0; }
label{ cursor: pointer; }
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, li, form, fieldset, blockquote, table, thead, tbody, tfoot, tr, td, th, input, div, pre{ margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea{ font-size: 1em; }
em, cite, address, optgroup{ font-style: normal; }
kbd, samp, code{ font-family: monospace; }
img, input, button, select, textarea, label{ border: none; }
ul, ol, li{ list-style: none; }
img, fieldset{ border: 0; }
input, button{ overflow: visible; }
button{ margin: 0; padding: 0; border: none; background: none; cursor: pointer; }
abbr, acronym{ cursor: help; border-bottom: 1px dotted black; }
fieldset{ font-size: 0; width: 0; height: 0; position: absolute; left: -99999px; overflow: hidden; }
table{ border-collapse: collapse; border-spacing: 0; }
legend{ margin: 0; padding: 0; display: block; }